@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #23292f;
}

main {
    display: block;
    margin: auto;
}

.container {
    width: 1000px;
}

header {
    padding: 4em;
    text-align: center;
    background-color: #0087e8;
    position: relative;
}

header h1 {
    font-size: 3.5em;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

header img {
    float: left;
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-left: 1em 0 1em 1em 1em;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-basis: auto;
    padding: 2em;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 1em;
    flex-basis: auto;
}
li {
    width: 10em;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
    background-color: #47a7ec;
    display: flex;
    align-items: center;
    height: 4em;
    justify-content: center;
    padding: 1em 2em 1em 2em;
    text-align: center;
    border-radius: 1em;
    flex-basis: 30%;
}

a:hover {
    transition: 0.3s;
    background-color: #1f6ebd;
    color: whitesmoke;
    box-shadow: 3px 3px rgb(31, 29, 29);
    transform: scale(1.1);
}

footer {
    padding: 4em;
    justify-content: center;
    text-align: center;
    background-color: #1b2127;
    color: white;
    font-size: 2em;
}
article > p {
    width: 80%;
}
article {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-area: "article";
    margin-top: 0;
    width: 100%;
    height: auto;
    padding: 2em;
    background-color: #2c3237;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    /* grid-template-areas:
        "article article"
        "article article"; */
    width: auto;
}
/*
rgb(0, 129, 167)
rgb(0, 175, 185)
*/

img {
    height: 20em;
    width: 20em;
}
.img {
    height: 7em;
    width: 7em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2em;
    left: 2em;
}
iframe {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: 1em;
}
.youtube-video {
    height: 18em;
    width: 32em;
    box-shadow: 5px 5px rgb(40, 40, 40);
    display: block;
    border-radius: 1em;
}
aside {
    display: flex;
    justify-content: center;
    padding: 5em;
    flex-direction: row;
    flex-wrap: wrap;
}
